
body{
 background-color: brown
}


body{
    background: url(https://img.freepik.com/vector-gratis/composicion-plana-libros-lectura-biblioteca-interior-estanterias-estanterias-mesa-lampara-hombre-lectura_1284-62530.jpg?w=2000) no-repeat center center fixed;
    background-size: cover;
}


.modal-content{
    background-color: rgb(255, 255, 255);
    opacity: .95;
    box-shadow: 0px 0px 7px black;
}

.container {
    width: 80%;
    
}

.content{
    width: 95%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3, auto);
   
}

.content .main{
    grid-column: span 6;
}